@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

:root {
  --background: #201d20;
  --base: #00d19d;
  --accent: #ff5f00;
}
h1,
h2,
h3 {
  margin: 0;
  color: var(--base);
}

body {
  margin: 0;
  font-family: "Poppins";
  background: var(--background);
}
nav {
  background: var(--background);
  padding: 10px 20px;
  text-align: center;
}
nav a {
  color: var(--base);
  margin: 10px;
  display: inline-block;
  font-weight: 500;
  font-size: larger;
}

nav a:hover {
  color: var(--accent);
}

nav h1 {
  color: var(--base);
  font-weight: 800;
  font-size: 3rem;
}
.page {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

p {
  color: white;
  font-size: 1.2em;
}

/* activity grid */
.activities-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
.activity-card {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  /* border: 2px inset var(--base); */
  box-shadow: inset 0 0 0 2px var(--base);
  position: relative;
  color: var(--base);
}

.activity-card h3 {
  margin: 0.5em;
}

.activity-card .minutes {
  position: absolute;
  top: -10px;
  right: -10px;
  background: var(--accent);
  color: white;
  font-weight: 500;
  border-radius: 6px;
  width: 40px;
  height: 0;
  padding: 20px 0;
  line-height: 0px;
  text-align: center;
}

.activity-card p {
  font-style: italic;
  position: relative;
  margin: 1em;
}

.activity-card .i-buttons {
  text-align: right;
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  margin: 0.1em;
}

.activity-card i {
  color: white;
  font-size: 1.2em;
  padding: 0.5em;
  background: var(--base);
  border: 1px solid var(--background);
  border-radius: 50%;
  cursor: pointer;
  margin: 0 0.2em;
}

.activity-card i:hover {
  color: var(--accent);
  background: var(--background);
  border: 1px solid var(--accent);
}

/* forms */
form {
  background: var(--base);
  padding: 20px;
  max-width: 480px;
  margin: 0 auto;
  border-radius: 6px;
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  box-shadow: 0 0 0 2px var(--accent);
}
form input,
form textarea {
  display: block;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px inset var(--accent);
  margin: 10px 0 20px 0;
}
form button {
  background: var(--accent);
  color: var(--background);
  border: 1px solid var(--accent);
  border-radius: 6px;
  padding: 6px 8px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: large;
  cursor: pointer;
}

form button:hover {
  background: var(--background);
  color: var(--accent);
  border: 1px solid var(--background);
}

/* order-by buttons */
.order-by button {
  margin-right: 10px;
  background: var(--base);
  color: #fff;
  border: 1px solid var(--background);
  border-radius: 6px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1em;
  cursor: pointer;
  padding: 1em 1em;
}

.order-by button:hover {
  color: var(--accent);
  background: var(--background);
  border: 1px solid var(--accent);
}
